Mac OSX 10.11.2 HTTP Error

I discovered an issue with the http lib when attempting to use cabal, see this issue for reference:
https://github.com/haskell/cabal/issues/2455

Here's the output I receive when running [this test program](https://gist.github.com/23Skidoo/c8d6ab1684ea11195a04):

```
Trying to download http://hackage.haskell.org/packages/archive/00-index.tar.gz
Sending:
GET /packages/archive/00-index.tar.gz HTTP/1.1
Host: hackage.haskell.org
User-Agent: cabal-install/1.18.0.5


Creating new connection to hackage.haskell.org
http error: Network.Browser.request: Error raised ErrorParse "Invalid response: Response code test.hs: Char.intToDigit: not a digit -1
```

Thanks for taking a look! Please let me know if there's anything I can do to help resolve this, I'm kind of stuck in what I'm doing right now.


To whomever ends up working on this: See https://github.com/haskell/cabal/issues/2455#issuecomment-173326946 and  https://github.com/haskell/cabal/issues/2455#issuecomment-173327786 which *may* be a clue as to what's going wrong. In particular, it seems that something on @ChrisPenner 's network is causing the status line to be missing a space. (Which is non-compliant.)

Ref for it being non-compliant is RFC2616 section 6.1 ("Status line").

Still I guess HTTP could be "liberal in what it accepts".

The relevant code seems to be in `parseResponseHead` in `Network.HTTP.Base` - it calls `words` to split up the three parts of the status line. That logic would need to be made more forgiving somehow.

> Ref for it being non-compliant is RFC2616 section 6.1 ("Status line").

...as well as in the successor RFC7230: https://tools.ietf.org/html/rfc7230#section-3.1.2

> Still I guess HTTP could be "liberal in what it accepts".

Generally, I've taken advice from people that know far better than me that this *can* be a dangerous edict in this day and age, and that it can lead to unforeseen security problems down the line. (Esp. if multiple "be liberal" instances conspire to interact badly.) I can't recall the specifics off-hand, but there *have* been instances where such things lead to completely breaking an authentication protocol (security-wise).

(Not that I'm saying that's the case here, I'm just saying: Be careful.)

I would be leaning towards finding out what's wrong with @ChrisPenner 's physical network (a bad proxy, I'm guessing). I'm not sure HTTP should accommodate a network/proxy that's this badly broken -- rather I think the network/proxy needs fixing.

Anyway...

Fair point - I can't think of any dangers in this case, but please do point out any that occur to you!

Absent that, and while I agree the misbehaving network should be fixed in any case, I'd be happy for HTTP to support this case.

I think it is a "patches welcome" situation though, I don't really have time or inclination to do it myself. Hopefully we'd also get a test, though I'm not sure if either web server the test harness uses can be easily persuaded to do malformed things.

If it helps anyone understand the issue, I have the same problem no matter which WiFi network I'm connected to. Also I do have a VPN installed, but the problem persists whether the VPN is active or not.

Anyone have a quick fix I can use while you decide what to do with the issue?

Thanks!

@ChrisPenner -- the newest cabal-install will attempt to use https via command line wget or curl, and so shouldn't be affected by this http bug if you ensure you're using one of the other transport options.